.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-main {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.input-register {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input {
  width: 45%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.register-button {
  color: black;
}

.email-button {
  background-color: red;
}

.login-button {
  background-color: black;
  color: white;
}

.login-button:disabled {
  background-color: black;
  color: yellow;
}

#myVideo {
  bottom: 0;
  height: 100vh;
  left: 0;
  object-fit: cover;
  opacity: 0.3;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}
