.orders-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.orders-container img {
  align-self: center;
  display: flex;
  height: 120px;
  margin-left: 0;
  margin-right: 50px;
  width: 120px;
}

.orders-box {
  border: rgb(85, 80, 80) 3px solid;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 40%;
}

.orders-box-title {
  border-radius: 5px;
  color: black;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.orders-box-status h2 {
  background-color: yellow;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.orders-box-details h2 {
  color: rgb(85, 80, 80);
}
