.header-container {
  align-items: center;
  background-color: rgb(85, 80, 80);
  display: flex;
  flex-direction: row;
}

.header-container img {
  align-items: baseline;
  display: flex;
  height: 84px;
  margin-left: 0%;
  margin-right: 0%;
}

.header-container a {
  background-color: rgb(85, 80, 80);
  color: rgb(249, 249, 249);
  font-size: 1.5rem;
  height: 70px;
  padding: 25px 30px;
  text-decoration: none;
}

.header-container a:hover {
  background-color: rgb(253, 253, 253);
  color: black;
  padding: 30px;
}

.header-name {
  background-color: yellow;
  color: black;
  font-size: 1.5rem;
  margin: 0;
  padding: 28px;
}

.header-logout {
  margin-left: 800px;
}
