.salecard-container {
  border: #2fc18c 3px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 30%;
}

.salecard-card {
  border: #2fc18c 3px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 30%;
}
